.trial {
  max-height: 830px;
  background-image: url("../../img/bg/1bg.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
}
.trial__wrapper {
  padding-top: 145px;
  min-height: 830px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.trial__description {
  width: 50%;
  font-weight: 300;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.trial__bonus {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5F5CEC;
}

.trial__bonus_span {
  margin-left: 5px;
  color: #05CD99;
}

.button.trial__description_button {
  width: 274px;
  background-image: url("../../icons/signs/rocket.svg");
}

.trial__description-robot {
  margin-left: 50px;
  box-sizing: border-box;
}

@media screen and (max-width: 1800px) {
  .trial {
    min-height: 700px;
    background-position: top -49px left 0px;
  }
  .trial__wrapper {
    padding-top: 100px;
  }

  .trial__description-robot {
    margin-top: 100px;
    width: 516px;
  }
}
@media screen and (max-width: 1700px) {
  .trial {
    min-height: 600px;
  }
  .trial__wrapper {
    padding-top: 60px;
  }

  .trial__description-robot img {
    width: 516px;
  }

  .trial__description {
    gap: 23px;
    padding-top: 116px;
  }
}
@media screen and (max-width: 1600px) {
  .trial {
    background-position: top -147px left 0px;
  }
  .trial__wrapper {
    min-height: 704px;
  }
}
@media screen and (max-width: 1500px) {
  .trial {
    min-height: 500px;
    background-position: top -137px left 0px;
  }
  .trial__wrapper {
    padding-top: 30px;
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1200px) {
  .trial {
    background-position: top -276px left 0px;
  }
  .trial__wrapper {
    padding-top: 0;

    min-height: 400px;
  }

  .trial__description {
    gap: 20px;
    padding-top: 96px;
  }

  .trial__description-robot img {
    width: 456px;
  }
}

@media screen and (max-width: 1024px) {
  .trial {
    min-height: 500px;
    background-image: url("../../img/bg/Vector-1-tablet.svg");
    background-position: top;
  }
  .trial__wrapper {
    min-height: 500px;
  }
  .trial__description {
    width: 56%;
  }
}
@media screen and (max-width: 992px) {
  .trial__description {
    width: 63%;
  }


  .trial__description-robot img {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .trial {
    background-position: top left;
  }
  .trial__wrapper {
    padding-top: 34px;
    flex-direction: column;
  }
  .trial__description {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .trial__description_title {
    text-align: center;
  }

  .main-subheader.trial__description_subtitle {
    text-align: center;
  }
  .trial__description-robot {
    margin: 70px 0 0 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trial-mobile-off {
    display: none;
  }
  .trial__description-robot img {
    width: 400px;
  }
}
@media screen and (max-width: 575px) {

  .trial__description-robot {
    align-self: center;
  }
  .trial__description-robot img {
    width: 100%;
  }
  .trial__bonus {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
